
.main-header {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: hsl(278, 50%, 83%, .8);
    // max-width: 1950px;
    max-width: 1300px;
    margin: 0 auto;
    flex-basis: 100%;
    min-width: 350px;
    // border: 3px solid red;

    &__logo-container {
        width: 5em;
        // margin-left: 1em;
        // flex-grow: 1;
        // background-color: green;
    }

    &__logo-img{
        width: 100%;
        // padding: 1em;
    }

    &__search-form-container {
        // flex-grow: 1;
        position: absolute;
        width: 65%;
        margin-left: 5em;
        padding: 1em 0 0 0;
        // border: 2px solid blue;

    }
    
    &__search-form {
        width: 80%;
        display: flex;
        position: relative;
        // border: 2px solid green;
    }


    &__input-search {
        width: 5em;
        flex-basis: 70%;
        height: 2em;
        margin-right: 5px;
        border-radius: 5px;
        border-style: none;
        outline: none;
        padding-left: 15px;
        
    }
    
    &__input-submit {
        border-style: none;
        width: 4em;
        height: 2em;
        border-radius: 5px;
        padding-right: 5px;
        padding-left: 3px;
        margin-right: 0px;
        // background-color: yellow;
    }

    &__cart-button-container {
        position: absolute;
        top: 4em;
        right: 0;
        // background-color: aqua;
        width: 2em;
        height: 2em;
    }

    &__cart-img {
        // width: 35px;
        width: 100%;
    }

    &__hamburger-button-container {
        position: absolute;
        right: 0;
        top: 1em;
        // background-color: blueviolet;
        width: 2em;
        height: 2em;


        
    }
    
    .hamburger-button {
        width: 100%;
        height: 100%;
    }
    

    &__main-nav-container {
        // background-color: orange;
        width: 100%;
    }
     

     .ocultar {
        display: none;
        width: 100%;

     }

    

    .main-nav__list {
        // background-color: red;
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        padding-left: 0;
        
        
    }
    
    .main-nav__item {
        margin-left: 0;
        width: 6em;
        overflow: hidden;
        border-radius: 10px;
    }
    
    .main-nav__link {
        background-color: #FFDBE8;
        width: 100%;
        display: block;
        padding: 1em;
        text-decoration: none;
        border-radius: 3px;
        text-align: center;
        margin-left: 0;


        &:hover {
            background-color: #F2DBFF;
            cursor: pointer;
        }
    }

    @media (min-width:550px) {
        .main-header__search-form-container {
            flex-basis: 25em;
            position: absolute;
            margin-left: 13em;
            padding: 1em 0 0 0;
            // border: 2px solid blue;
    
        }

        .main-header__logo-container {
            width: 12em;
        }


    }

    @media (min-width:700px) {

        .main-header {
            // max-width: 900px;
            margin: 0 auto;
        }
        .main-header__search-form-container {
            flex-basis: 35em;
            position: absolute;
            margin-left: 15em;
            padding: 1em 0 0 0;
            // border: 2px solid blue;
    
        }

        .main-header__input-search {
            // width: 100%;
            flex-basis: 100%;
            height: 3em;
            margin-right: 5px;
            border-radius: 5px;
            border-style: none;
            // background-color: red;
        }

        .main-header__input-submit {
            border-style: none;
            width: 10em;
            height: 3em;
            border-radius: 5px;
            padding-right: 3px;
            padding-left: 3px;
            margin-right: 0px;
            // background-color: yellow;
        }
    }


    @media (min-width:1000px) {

        .main-header__input-search {
            width: 250px;
            height: 3em;
            // background-color: pink;
            
        }


        .main-header__search-form-container {
            flex-basis: 35em;
            position: absolute;
            margin-left: 20%;
            padding: 1em 0 0 0;
    
        }


    }









}